<form action="/admin/tags/{{tag._id}}/update" method="POST">
    <h1>Cập nhật nhãn tag</h1>

    <div>
        <label for="tag_name">Tên nhãn:</label>
        <input type="text" name="tag_name" value="{{tag.tag_name}}" required>
    </div>

    <button type="submit">Cập nhật</button>
</form>
