<form action="/admin/categories/{{category._id}}/update" method="POST">
    <h1>Cập nhật chuyên mục</h1>

    <div>
        <label for="category_name">Tên chuyên mục:</label>
        <input type="text" name="category_name" value="{{category.category_name}}" required>
    </div>

    <button type="submit">Cập nhật</button>
</form>
