<header>
    <nav>
        <ul class="menu">
            <li><a href="http://localhost:8080/guest/home">Trang Chủ</a></li>
            <li><a href="/categories">Chuyên Mục</a></li>
            <li><a href="/tags">Nhãn</a></li>
            <li><a href="/login">Đăng Nhập</a></li>
            <li><a href="/register">Đăng Ký</a></li>
        </ul>
    </nav>
</header>
