<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-bold">404 - Bài viết không tồn tại</h1>
        <p>{{message}}</p>
        <a href="guest/home" class="text-blue-600 hover:text-blue-800">Trở về trang chủ</a>
    </div>
</body>
</html>
