<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Article</title>
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>
<body>
{{> header}}
<main>
    <section>
        <h2>Published</h2>
        <div id="top-articles"></div>
    </section>
    <section>
        <h2>Denied</h2>
        <div id="most-viewed-articles"></div>
    </section>
    <section>
        <h2>Pending</h2>
        <div id="latest-articles"></div>
    </section>
</main>
{{> footer}}
<script>
    async function fetchMyArticleByStatus(status, page, limit) {
        try {
            const params = `?status=${status}&page=${page}&limit=${limit}`; // can add sort , page and limit
            const response = await fetch(`http://localhost:8080/writer/get-my-article${params}`);

            const data = await response.json();
            renderPaginate(data)
            displayArticles(data?.posts);

        } catch (error) {
            console.error('Error fetching articles:', error);
        }
    }

    function renderPaginate(paginate) {
        // TODO : render paginate here
        //      paginate layer data : {
        //          currentPage: 1,
        //          totalPages: 12,
        //          totalPosts :100,
        //      }
        //
    }

    function displayArticles(data) {
        //     TODO : handle add your custom view here
    }

    document.addEventListener('DOMContentLoaded', fetchArticles);
</script>
</body>
</html>
